ion-toolbar{
  --background: #ffce00;
  .title{
    font-family:"Heebo-Bold" ;
    font-size: 18px;
  }
}
.container{
  display:flex;
  height: 100%;
  align-items: center;
  background: #fafafa;
  flex-flow: column;
  &_top{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
}
.calendar{
  //width: 462px;
  display:flex;
  flex-flow: column;
  //background: #fff;
  align-items: center;
}
.text-center{
  margin:0 auto;
}

.mesName{
  margin:5px;
  text-transform: uppercase;
  font-size: 20px;
}

.weekdayDiv{
  //background-color: #ffce00;
  color:#000;
  font-weight: bold;
}
.flex-calendar {
  width:350px;
  padding:10px 10px 10px 30px;
  display: flex;
  flex-flow: row;
  background-color: #fff;
}

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}

.calendar-days{
  height: 50px;
  background: #fff;
  text-align: center;
  display: inline-block;
  margin: 10px 0 0 2%;
  width: 35px;
  //width: calc(100% * (1/7) - 6px - 1px);
}

.inactive{
  opacity: 0.6;
}

.dia_presente{
  background-color:yellowgreen;
  color: #fff;
  font-weight: bold;
}
.holiday{
  background-color:#ff6a3d;
  color: #fff;
  font-weight: bold;
}
.progress{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 10%;
  &_bar{
    width: 50%;
    padding: 5px;
    margin: 0 10px;
  }
  span{
    font-weight: bold;
  }
}
