<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Listado de asistencias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="attendances.length">
    <ion-item class="lines" lines="none" *ngFor="let item of groups" (click)="sendObj(item)"> 
      <ion-label>{{item.key}}</ion-label>
    </ion-item>
  </div>
  <div class="noContent" *ngIf="!attendances.length">
    <ion-icon name="alert-circle-outline"></ion-icon>
    <div class="info">No hay información disponible.</div>
  </div>
</ion-content>
