ion-toolbar{
  --background: #ffce00;
  .title{
    font-family:"Heebo-Bold" ;
    font-size: 18px;
  }
}
ion-content{
  --background: #fafafa;
}
.lines{
  border-top: 1px solid #D3D3D3;
  &:last-child{
      border-bottom: 1px solid #D3D3D3;
  }
}
//CONTENT
ion-label{
  --color: #3c3c3c !important;
  
}

.noContent{
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #c3c3c3;
  ion-icon{
    font-size: 200px;
  }
  .info{
    font-size: 18px;
    font-weight: bold;
  }
}