ion-slides {
  height: 100%;
}
.container{
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  &_top{
    display: flex;
    font-weight: bold;
    height: 60%;
    justify-content: center;
    align-items: center;
    ion-icon{
      font-size: 150px;
    }
  }
  &_bottom{
    display: flex;
    flex-flow: column;
    align-items: center;
    font-weight: bold;
    height: 40%;
    padding: 20px;
    font-family: 'Heebo-Bold';
    button{
      display:inline-block;
      width: 30%;
      padding: 5px;
      border: 1px solid #29375b;
      border-radius: 5px;
      background-color: #fff;
      color: #29375b;
      margin-top: 50px;
      font-weight: bold;
      &:focus{
        outline: none;
        box-shadow: none;
      }
    }
  }
}