<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="centerContent">
    <!-- <div class="ion-text-center title">
      
    </div> -->
    <form #newPassForm="ngForm" (ngSubmit)="updatePass(newPassForm)">
      <ion-list>
        <ion-item>
          <ion-icon name="lock-closed-outline" color="medium" slot="start"></ion-icon>
          <ion-input name="oldPassword" placeholder="Contraseña actual" type="password" ngModel required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed-outline" color="medium" slot="start"></ion-icon>
          <ion-input name="newPassword" placeholder="Nueva contraseña" type="password" ngModel required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed-outline" color="medium" slot="start"></ion-icon>
          <ion-input name="passwordConfirm" placeholder="Confirmar contraseña" type="password" ngModel required></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="block" share="round" type="submit" color="primary" [disabled]="newPassForm.invalid">Aceptar</ion-button>
    </form>
  </div>
</ion-content>