ion-toolbar{
  --background: #ffce00;
  .title{
    font-family:"Heebo-Bold" ;
    font-size: 18px;
  }
}
.container{
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #fafafa;
  padding:20px;
  &__card{
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    padding:10px;
    margin:15px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;

    &--subject{
      color: #0B2E59;
      font-weight: 700;
      margin-bottom: 5px;
    }
    &--hour{
      color:#c3c3c3;
    }
  }
  .noContent{
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #c3c3c3;
    ion-icon{
      font-size: 200px;
    }
    .info{
      font-size: 18px;
      font-weight: bold;
    }
  }
  
}