.login-header{
    background: var(--theme-color);
    .logo-img{
        display: block;
        width: 120px;
        margin: 0 auto;
        text-align: center;
    }
}
ion-content{
    --background: #fafafa;
}
.centerContent{
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    #logoCT{
        height: 30px;
    }
    .title{
        font-family: 'Heebo-Black';
        font-size:24px;
    }
    form{
        width: 80%;
        margin:20px 0;
    }
    .link{
        font-size: 14px;
        padding: 5px 0;
    }
    ion-list{
        background: #fafafa !important;
    }
    ion-item{
        border-radius: 10px !important;
        margin: 10px 0;
        font-size: 0.9em;
        --background-color: #fff;
        border: 1px solid #f1f1f1 !important;
        width: 100%;
        max-height: 10vh;
    }
    ion-input{
        --background: #fff;
    }
}

