<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="centerContent">
    <div class="ion-text-center title">
      Registrarse
    </div>
    <form #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm)">
      <ion-list>
        <ion-item>
          <ion-icon name="person-outline" color="medium" slot="start"></ion-icon>
          <ion-input type="text" placeholder="Nombre" name="name" ngModel required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="person-outline" color="medium" slot="start"></ion-icon>
          <ion-input type="text" placeholder="Apellido" name="last_name" ngModel required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="school-outline" color="medium" slot="start"></ion-icon>
          <ion-input type="number" placeholder="Legajo" name="legajo" ngModel required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="mail-outline" color="medium" slot="start"></ion-icon>
          <ion-input type="email" placeholder="Email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" ngModel required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed-outline" color="medium" slot="start"></ion-icon>
          <ion-input name="password" placeholder="Contraseña" type="password" ngModel required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed-outline" color="medium" slot="start"></ion-icon>
          <ion-input name="passwordConfirm" placeholder="Confirmar contraseña" type="password" ngModel required></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="block" share="round" type="submit" color="primary" [disabled]="signUpForm.invalid">Registrarse</ion-button>
    </form>
  </div>
</ion-content>