



ion-tab-button{
  --background: #29375b;
  --color: gray;
  --color-selected: #fff;
  font-size: 10px;
  font-weight: bold;
  &::before {
    background-color: transparent;
    display: block;
    content: "";
    margin: 0 auto;
    width: 20px;
    height: 3px;
  }

  &.tab-selected::before {
    background-color: #fff;
  }
}
